# =========================
# Core API
# =========================
fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
pydantic==2.8.2
starlette==0.38.2

# =========================
# Computer Vision (ONNX)
# =========================
opencv-python==4.10.0.84
Pillow==10.4.0
numpy>=1.23,<2.0
onnxruntime==1.17.3

# =========================
# Utilities
# =========================
pyyaml==6.0.2
loguru==0.7.2
requests==2.32.3
python-dotenv==1.0.1
